{{define "header"}}
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Bit-A-Bytes</title>
      <script src="js/react.min.js"></script>
      <script src="js/react-dom.min.js"></script>
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    </head>
    <body>
      <div class="container">
      <div id="header"></div>
{{end}}
